version: "3.8"

services:
  backend:
    build:
      context: .
      target: backend-production
    container_name: gaza-uni-backend
    restart: unless-stopped
    ports:
      - "5000:5000"

    env_file:
      - .env
    networks:
      - gaza-uni-network

  frontend:
    build:
      context: .
      target: frontend-production
      args:
        - VITE_API_URL=http://localhost:5000/api
    container_name: gaza-uni-frontend
    restart: unless-stopped
    ports:
      - "80:80"
    depends_on:
      - backend
    networks:
      - gaza-uni-network

networks:
  gaza-uni-network:
    driver: bridge
